<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AppServerNotification.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>planGodDelgate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B3B3472C1EEFE54400F74FD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3BB0AF41D81065800D6466A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3BB0B0D1D81065800D6466A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3BB0B181D81065800D6466A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
